<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577872924478-qv0n91vog531gri5h8g5pdsokfkb9h4c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577872924478-qv0n91vog531gri5h8g5pdsokfkb9h4c</string>
	<key>API_KEY</key>
	<string>AIzaSyBc-AfnmcUJdT-Uo4susjyGciObxniVXDg</string>
	<key>GCM_SENDER_ID</key>
	<string>577872924478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JaneCode.DoNation</string>
	<key>PROJECT_ID</key>
	<string>donation-8f96f</string>
	<key>STORAGE_BUCKET</key>
	<string>donation-8f96f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577872924478:ios:25e5d045b2e8f5b6f1666f</string>
	<key>DATABASE_URL</key>
	<string>https://donation-8f96f.firebaseio.com</string>
</dict>
</plist>